<!DOCTYPE html>
<html lang="en">
		<head>
				<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>{{ title }}</title>
				<meta http-equiv="X-UA-Compatible" content="ie=edge">
				<meta name="description" content="{% if description %}{{ description }}{% else %}My name is Kevin and I teach people how to make the web and how to make it look good while they are at it.{% endif %}">

				<meta property="og:title" content="{% if social-title %}{{ social-title }}{% else %}{{ title }} | {{ title }}{% endif %}">
				<meta property="og:description" content="{% if social-description %}{{ social-description }}{% elif  description %}{{description}}{% else %}{{ description }}{% endif %}">
				<meta property="og:url" content="{{ page.url | url | absoluteUrl(metadata.url) }}">
				<meta property="og:image" content="{% if social-image %}{{ social-image }}{% else %}{{ site.url | url | absoluteUrl(metadata.url) }}img/brand-icon.png{% endif %}">
				<meta name="twitter:image" content="{% if social-image %}{{ social-image }}{% else %}{{ site.url | url | absoluteUrl(metadata.url) }}img/brand-icon.png{% endif %}">
				<meta name="twitter:card" content="summary_large_image">
				<link rel="icon" href="/favicon.ico">
				<link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
				<style>
					h1, h2, h3, h4 { margin-block-start: 2em }
					p { margin-block-end: 1em; }
					body { padding-bottom: 5rem; }
				</style>
		</head>
		<body class="{{ bodyClass }}">
				
				<main id="main-content">
					<div class="container flow">
						<h1 class="title">{{ title }}</h1>
						{{ content | safe }}
					</div>
				</main>



				<script src="https://cdn.usefathom.com/script.js" data-site="XICAVCWK"></script>
				{% if '/courses' in page.url%}
						<script src="/js/main.js"></script>
				{% endif %}
		</body>
</html>