<script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
<form action="https://app.convertkit.com/forms/953101/subscriptions" class="seva-form formkit-form cta cta--short cta__form" method="post" data-sv-form="953101" data-uid="3ea64306dd" data-format="inline" data-version="5" data-options="{&quot;settings&quot;:{&quot;after_subscribe&quot;:{&quot;action&quot;:&quot;redirect&quot;,&quot;redirect_url&quot;:&quot;https://www.kevinpowell.co/newsletter-success/&quot;,&quot;success_message&quot;:&quot;Success! Now check your email to confirm your subscription.&quot;},&quot;return_visitor&quot;:{&quot;action&quot;:&quot;show&quot;,&quot;custom_content&quot;:&quot;&quot;},&quot;recaptcha&quot;:{&quot;enabled&quot;:false}}}" min-width="400 500 600 700 800">
  <div class="formkit-background"></div>
  <div data-style="minimal" class="flow">
    <div class="formkit-header" data-element="header">
      <h3 class="cta__title">Don't want to miss an article?</h3>
    </div>
    <div class="formkit-subheader">
      <p class="cta__body">I share the cool little things I run across (like you're reading in this post right now) every Sunday. Sign up below to never miss a post.</p>
    </div>
    <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
    <div data-element="fields" data-stacked="true" class="seva-fields formkit-fields cta__grid">
      <div class="formkit-field">
        <label for="fields[first_name]">First name</label>
        <input class="formkit-input" aria-label="First Name" name="fields[first_name]" id="fields[first_name]" placeholder="Webdeveloperman" type="text">
      </div>
      <div class="formkit-field">
        <label for="email_address">Email Address</label>
        <input class="formkit-input" name="email_address" id="email_address" placeholder="webdeveloperman@gmail.com" required="" type="email">
      </div>
    </div>
    <button data-element="submit" class="formkit-submit formkit-submit button button__cta">
      <div class="formkit-spinner">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <span>Subscribe</span>
    </button>
    <span class="formkit-guarantee cta__fine-print" data-element="guarantee">I won't send you spam. Unsubscribe at any time.</span>
  </div>
</form>