<footer class="primary-footer">
  <p>
    Find me elsewhere on the web as well:</p>
  <ul role="list" class="social-list">
    <li>
      <a href="https://youtube.com/kevinpowell"><img src="img/youtube.svg"></a>
    </li>
    <li>
      <a href="https://twitch.com/kevinpowellcss">Twitch</a>
    </li>
    <li>
      <a href="https://twitter.com/kevinJPowell"><img src="img/twitter.svg"></a>
    </li>
    <li>
      <a href="https://codepen.io/kevinpowell/">CodePen</a>
    </li>
    <li>
      <a href="https://discord.gg/GaBdxcE">Discord</a>
    </li>
    <li>
      <a href="https://github.com/kevin-powell">GitHub</a>
    </li>
  </ul>
  <p>©
    {% year %}
    Kevin Powell Media Inc.</p>
</footer>