$colors: (
  primary: (
    100: hsl(14, 100%, 80%),
    200: hsl(14, 100%, 70%),
    300: hsl(14, 100%, 60%),
    400: hsl(12, 100%, 43%),
    500: hsl(14, 100%, 20%),
  ),
  article: (
    100: hsl(219, 89%, 80%),
    200: hsl(219, 89%, 70%),
    300: hsl(219, 89%, 60%),
    400: hsl(212, 61%, 37%),
    500: hsl(219, 89%, 20%),
  ),
  youtube: (
    100: hsl(345, 88%, 80%),
    200: hsl(345, 88%, 70%),
    300: hsl(345, 88%, 60%),
    400: hsl(345, 88%, 46%),
    500: hsl(345, 88%, 20%),
  ),
  resource: (
    100: hsl(311, 46%, 80%),
    200: hsl(311, 46%, 70%),
    300: hsl(311, 46%, 50%),
    400: hsl(311, 46%, 33%),
    500: hsl(311, 46%, 15%),
    ),
  course: (
    100: hsl(176, 66%, 70%),
    200: hsl(176, 66%, 60%),
    300: hsl(176, 66%, 40%),
    400: hsl(176, 66%, 30%),
    500: hsl(176, 66%, 20%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 87%),
    300: hsl(0, 0%, 80%),
    700: hsl(0, 0%, 40%),
    800: hsl(0, 0%, 30%),
    900: hsl(0, 0%, 15%)
  )
);