.label {
  --font-weight: 350;
  display: inline-block;
  font-size: var(--fs-300);
  color: var(--clr-neutral-800);
  background: var(--clr-neutral-200);
  width: max-content;
  padding: .125em .75em;
  border-radius: 100vw;
  margin-top: 0;
  margin-right: .25em;
}