@use '../abstracts/' as *;

.course-grid {
  display: grid;
  gap: 2rem;  
  grid-template-rows: masonry;
  align-items: start;
  margin: 6rem calc(30% - 30vw);
  padding: 0 1rem;

  @media (min-width: 27em) {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

.course-card {
  // overflow: hidden;
  padding: 2em;
  border-radius: .5em;
  box-shadow: 0 .25em 1em rgba(black, .1);

  h2 a {
    color: var(--clr-neutral-800);
    text-decoration: none;
    
    &:hover,
    &:focus {
      color: var(--clr-course-400);
    }
  }

  p:not([class]) {
    --font-width: 65;
    font-size: .925em;
  }
}