.primary-footer {
  font-size: var(--fs-300);
  color: var(--clr-neutral-800);
  margin-top: 10rem;
  padding: 3rem;
  background-color: var(--clr-neutral-200);
  text-align: center;
  p {
    margin-left: auto;
    margin-right: auto;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 2rem;
    padding: 0;
  }

  li + li {
    margin-left: 1rem;
  }

  a {
    --font-weight: 750;
    --font-width: 50;
    color: inherit;

    &:hover,
    &:focus {
      color: var(--clr-primary-400);
      text-decoration: none;
    }
  }
}