---
title: About me
description: All about Kevin!
layout: pages
bodyClass: youtube
eleventyNavigation:
  key: About
  order: 300
---

<p>Hi there! My name is Kevin and I'm a CSS Evangelist. I absolutely love CSS, and I want to help new front-end devs enjoy learning it, and help seasoned vets see how great it really is.</p>
<p>Most of my content is over on YouTube, but I also stream on Twitch, and write articles every now and then as well, not to mention my courses.</p>

<h2>YouTube</h2>
<p>
  <strong>Weekly front-end web development &amp; design tips, tricks, and tutorials</strong>. With a focus on HTML &amp; CSS, along with a splash of JS, some videos focus on properly understanding fundamental concepts, others explore little known or often misused CSS properties, and there are long series that explore taking everything and building out actual pages.</p>
<p>
  <a href="https://www.youtube.com/kevinpowell">My YouTube channel</a>
  is where everything started, and it’s what continues to drive things.</p>

<h2>Twitch</h2>
<p>While YouTube is fun, there is something different when it comes to livestreams. They show a more realistic example of how we tackle problems, and it's also a lot of fun interacting with the chat!</p>
<p>I'd love to see you during one of my streams <a href="https://www.twitch.tv/kevinpowellcss">over on Twitch</a>, and if I'm not live, you can catch replays of previous streams there as well.</p>

<h2>How I got here</h2>
<p>I never in my life imagined that I&#39;d have a successful YouTube channel and that people would actually want to purchase courses from me!</p>
<p>Way back in the day I studied Film, and then I managed to get a BA in Urban Studies, and then, eventually, a vocational degree in Graphic Design, and it&#39;s that design degree that sort of kicked things off.</p>
<p>Going way back though, I made my first web pages back in the late 90s when I was still in highschool. It involved a lot of Photoshop designs, slicing things up, and building layouts using HTML tables. It might sound terrible (it was), but it was a ton of fun.</p>
<p>Photoshop and making pages as a hobby were something I kept doing for years, on and off. This makes it really hard to answer when people ask me how long it takes to learn something as well as I know it, because I&#39;ve been doing it for a long time 😅.</p>
<p>That said, I only started to really take it seriously when I was getting my design degree, and then moreso when I was working as a designer. </p>
<p>At the small company that I worked at, I primarily focused on print design. I was also not paid very much, so I started doing freelance work on the side, and that freelance work was almost all UI design. </p>
<p>I figured that since people were willing to pay me for designing a site, they might also pay me to actually build it as well, and I really dove in to that side of things, and it turned out that I enjoyed making sites more than I enjoyed designing them.</p>
<p>Then one day, something really unexpected happened. Out of the blue, one of my old design teachers called me up and said that the school was looking for teachers and the next thing I knew, I was teaching!</p>
<p>While the school primarily focuses on print design, it has a few web classes as well, and with some experience there, I quickly became one of the go to web teachers, and I absolutely loved it.</p>
<p>The only downside was the web classes were all introductory ones, and after 2 years, I was looking for more, and I decided to start my own YouTube channel. The idea here was more about keeping up to date and giving myself a reason to keep on learning and pushing and going deeper. I never had planned for it to grow and become something that would grow to what it&#39;s become today.</p>
<p>But here we are!</p>
