---
title: Community
description: learn with others
layout: pages
bodyClass: community
eleventyNavigation:
  key: YouTube
  order: 300
---

<p>
  Looking for a community of other developers and designers to ask questions to, get feedback on your work, and just hang out with? Then join my community!</p>

<p>It is a free-to-join Discord server that's overflowing with helpful people. We keep it welcoming to all, from absolute beginners, to hobbiests, to seasoned veterans.</p>

<a class="button" href="https://youtube.com/kevinpowell">
  <span>Check out my channel</span>
</a>