---
title: Resources
description: Get your learn on 
layout: pages
bodyClass: resource
eleventyNavigation:
  key: Resources
  order: 500
---

<p>A lot of people ask me what they should learn next. That's a really hard question for me to answer because there are so many variables at play, but, I can suggest some awesome resources!</p>

<p>Some of the below resources are free, some are paid. If it's free, I make sure to mention it in my short description. Pretty much everything is a course though (save for the other YT channels I link to later on) because I do think that a *good* course is really the fastest way to level up a specific skill.</p>

<p><i>Some of the links below are affiliates, but they're only for things that I really do think are valuable. I won't recommend something if I don't think it's 100% worth it. You don't pay any more by using them, and it helps support my channel.</i></p>

<h2>Table of contents</h2>
<ul class="table-of-contents">
  <li><a href="#css">CSS resources</a></li>
  <li><a href="#javascript">Vanilla JavaScript resources</a></li>
  <li><a href="#javascript-frameworks-libraries">JavaScript frameworks & libraries</a></li>
  <li><a href="#hosting">Hosting</a></li>
</ul>


<h2 id="css">CSS Resources</h2>
<p>You might see me as the CSS guy, but there are a lot of other amazing CSS resources out there.</p>
<h3><a href="https://moderncss.dev/">ModernCSS.dev</a></h3>
<p>A fanstic site by Stephanie Eckles, with articles covering modern CSS solutions to old CSS problems. </p>
<h3><a href="https://smolcss.dev/">SmolCSS</a></h3>
<p>Yet another entry here for Stephanie, with "minimal snippets for modern CSS layouts and components".</p>
<h3><a href="https://CSSGrid.io/friend/POWELL	">CSSGrid.io</a></h3>
<p>CSS Grid is the best, but with so much going on with it, it can seem overwhelming. This free course by Wes Bos is an awesome way to take a dive into it, going over it in detail, comparing it to flexbox, and looking at a few layouts that you can make with it as well.</p>

<h2 id="javascript">Vanilla JavaScript</h2>
<p>I don&#39;t have a lot of JavaScript content. I like to focus on CSS. It&#39;s my jam, and also JavaScript is hard 😅. Below are a few vanilla JS courses that I think could really help you out.</p>
<h3><a href="https://BeginnerJavaScript.com/friend/POWELL	">Beginner JavaScript</a></h3>
<p>By Wes Bos, this is a fantastic course for getting started with JavaScript. From the absolute basics to building out things like a Recipe Search, Face Detection, Audio Visualizations and more, it&#39;s not just about learning JS, but putting it into actual projects.</p>
<h3><a href="https://learnjavascript.today/">Learn JavaScript</a></h3>
<p>By Zell Liew, this is a monster of a course. Entirely text based, it goes from the very basics to building out 20 different components. It also dives into Object-Oriented programming, accessibility, and progressive Enhancements. This is a premium course that&#39;s only open a few times a year.</p>
<h3><a href="https://jsroadmap.com/">JS Roadmap</a></h3>
<p>Also by Zell, this is a free email drip course for those of you who are having trouble figuring out JavaScript. It helps you think about it and approach JS in a way that will help you start seeing some results in your learning.</p>
<h3><a href="https://JavaScript30.com/friend/POWELL	">JavaScript30</a></h3>
<p>Another one by Wes Bos, this is a free 30 day challenge for you to step up your JavaScript game. Build 30 things in 30 days with 30 tutorials.</p>
<h3><a href="https://vanillawebprojects.com/">20 Web Projects with Vanilla JavaScript</a></h3>
<p>If you&#39;ve already played around with JavaScript but you&#39;re looking to reinforce your skills and push things a little more, this course by Brad Traversy is a great way to do that. It&#39;s not about getting you started with JS, but instead some fun projects to help you step up your skills.</p>

<h2 id="javascript-frameworks-libraries">JavaScript frameworks &amp; libraries</h2>
<p>I&#39;ll always encourage people to learn vanilla JS before they dive into the frameworks and libraries, such as React, Vue, Svelt, and the many, many others that are out there. At one point though, you&#39;ll want to learn at least one of them, and these are some awesome sources to do just that.</p>
<h3><a href="https://reactforbeginners.com/">React for beginners</a></h3>
<p>Another one by Wes Bos (notice a trend here? He&#39;s pretty awesome), this is an awesome place to start your journey into React. This course is all centered on building out a single app that teaches you what you need to know to get started with React, from understanding React Components, maintaining state, working with Firebase, deploying your React app and more.</p>
<h3>
<a href="https://courses.webdevsimplified.com/learn-react-today">Learn React Today</a></h3>
<p>This course by Kyle of Web Dev Simplified is all about teaching you React without wasting your time. If you don't already know Kyle from his YouTube channel, he's all about simplifying things and getting you comfortable with writing React on your own.</p>
<h3><a href="https://ReactForBeginners.com/friend/POWELL	">React for Beginners</a></h3>
<p>Yet another from Wes Bos, in this course you learns the ins and outs of React by building out an app with Wes. You'll look at creating a menu, order form, inventeory managment and more. Plus, all filled with Wes' awesome style and sense of humor.</p>
<h2 id="hosting">Hosting</h2>
<p>A lot of great hosts out there these days, but that makes it hard to recommend any. It really depends on your needs, but for static sites like this one, I&#39;m all for <a href="https://netlify.com">Netlify</a>. I&#39;ve been using them to host my own site here for years now and couldn&#39;t be happier. Oh, and it&#39;s completely free.</p>
<p>For hosting a course, I strongly recommend <a href="https://www.podia.com/?via=kevin-powell">Podia</a>. I&#39;ve been with them for years now. It&#39;s an easy platform to get started with, works really well, and has a few features that others don&#39;t, such as it&#39;s own email platform. We&#39;re devs, so there&#39;s an appeal to building out your own platform, which I get, but isn&#39;t it best to get started, focus on your course, and start getting paid for it? Once you&#39;ve a giant in the industry you can build something out that&#39;s more custom 😅</p>

