---
title: YouTube
description: learn for free
layout: pages
bodyClass: youtube
eleventyNavigation:
  key: YouTube
  order: 300
---

<p>
  <strong>Weekly front-end web development &amp; design tips, tricks, and tutorials</strong>. With a focus on HTML &amp; CSS, along with a splash of JS, some videos focus on properly understanding fundamental concepts, others explore little known or often misused CSS properties, and there are long series that explore taking everything and building out actual pages.</p>

<p>
  <a href="https://www.youtube.com/kevinpowell">My YouTube channel</a>
  is where everything started, and it’s what continues to drive things.</p>

<h3 id="how-it-started">How it started</h3>
<p>I started the channel as a passion project. A few years earlier I’d been hired as a teacher, and as much as I loved it, I only taught intro to web development classes, along with typography and page layout. I was missing something.</p>

<p>I wanted something that would let me be creative and push me to keep relevant, so after thinking about it for a
  <em>really</em>
  long time, I started my channel in October of 2016.</p>

<h3 id="progress-was-slow">Progress was slow</h3>
<p>Good thing is was a passion project, because the progress was
  <strong>really slow</strong>
  at the start.</p>

<p>After 4 months of creating a weekly video, I had 50 subs. But that was okay, because I was having fun making them.</p>

<h3 id="something-happened">Something happened</h3>
<p>And after those first four months, things started to pick up. I don’t know what changed, but more and more people started discovering my videos.</p>

<p>And since they started picking up, they haven’t slowed down!</p>

<h3 id="where-things-are-now">Where things are now</h3>
<p>“Now” is probably the wrong way to put it, because I doubt I’ll be updating this regularly, but as of July 24, 2018 I have
  <strong>over 25,000 subs</strong>
  and
  <strong>over 1.3 million total views</strong>.</p>

<p>That totally blows my mind. So if you’re one of those people who’ve watched a video or who’ve taken the time to sub,
  <strong>a very big thank you!</strong>
</p>

<p>
  <a class="button" href="https://youtube.com/kevinpowell">
    <span>Check out my channel</span>
  </a>
</p>